@media screen and (max-width: 992px) {
    .container{
        padding: 0 15px;
    }
}
@media screen and (max-width: 768px) {
    nav{
        display: none
    }
    .card-one .d-flex{
        flex-direction: column;
    }
    .hero-screen .container h1{
        font-size: 50px;
    }
    .hero-screen img{
        position: relative;
        margin: auto;
        right: -30px;
    }
    .culture .d-flex{
        flex-direction: column;
    }
    .culture .for_img{
        margin-top: 15px;
    }
    .power .d-flex{
        flex-direction: column;
    }
    .voices .container{
        flex-direction: column;
        align-items: center;
    }
    .voices .item img{
        margin-top: 0px;
    }
    .links{
        margin-right:15px;
    }
}
@media screen and (max-width: 430px) {
    .hero-screen h1{
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .hero-screen img{
        width: 100%;
        right: 8px;
    }
    .test-class{
        max-width: 430px;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer_container img{
        width:100%;
        margin-right:5px ;
    }
    .footer_logo{
        max-width: 100px;
        margin-right:5px ;
    }
    .links{
        margin-right: 35px;
    }
}

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 280px) {
    .hero-screen h1{
        font-weight: 550;
        font-size: 20px;
        line-height: 40px;
    }
    .best_sellers{
        width:100%
    }
    .email{
        max-width: 300px;
    }
}